<div>
    <h1>About</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Molestias incidunt voluptatibus, earum vitae impedit eos nobis neque delectus recusandae aperiam. Corrupti ratione
    animi dolores laboriosam vitae modi veritatis dicta praesentium quaerat blanditiis! Eos necessitatibus iste hic
    inventore illo delectus sunt non,
    quas provident unde fuga dolor exercitationem excepturi ipsa quia reiciendis architecto? Quod possimus quo iste
    quaerat ipsam officiis voluptatum placeat. Consequatur illo aut accusantium saepe tenetur facere quasi et? Tenetur
    delectus iusto ipsum porro quas et quaerat? A eius vitae maiores eaque reprehenderit? Possimus, doloribus, voluptate
    laudantium aut consequuntur rem maiores fugit vitae cum molestiae rerum, deserunt odio minus iste eligendi
    reprehenderit sunt repellat quisquam quia in. Harum, aspernatur accusamus itaque perferendis soluta consequuntur?
    Atque officiis nobis vel magni labore natus quas expedita velit assumenda, blanditiis cumque laboriosam vero illo.
    Quibusdam consequuntur vitae beatae temporibus possimus necessitatibus quia soluta enim non, culpa illo alias, harum
    ipsam doloremque minus. Exercitationem!</p>
<div>
    <div>Created By:</div>
    <div><a href=""></a></div>
    <div>Email Us:</div>
    <div><a href="singhdharamkumar7@gmail.com"></a></div>
</div>
</div>